In [32]:
import findspark
findspark.init('/home/gani/spark-2.4.4-bin-hadoop2.7')

In [33]:
from pyspark.sql import SparkSession

In [34]:
spark = SparkSession.builder.appName('parquetToDF').getOrCreate()

In [35]:
df = spark.read.format('parquet').load('alltypes_plain.parquet')

In [36]:
df.show()

+---+--------+-----------+------------+-------+----------+---------+----------+--------------------+----------+-------------------+
| id|bool_col|tinyint_col|smallint_col|int_col|bigint_col|float_col|double_col|     date_string_col|string_col|      timestamp_col|
+---+--------+-----------+------------+-------+----------+---------+----------+--------------------+----------+-------------------+
|  4|    true|          0|           0|      0|         0|      0.0|       0.0|[30 33 2F 30 31 2...|      [30]|2009-03-01 05:30:00|
|  5|   false|          1|           1|      1|        10|      1.1|      10.1|[30 33 2F 30 31 2...|      [31]|2009-03-01 05:31:00|
|  6|    true|          0|           0|      0|         0|      0.0|       0.0|[30 34 2F 30 31 2...|      [30]|2009-04-01 05:30:00|
|  7|   false|          1|           1|      1|        10|      1.1|      10.1|[30 34 2F 30 31 2...|      [31]|2009-04-01 05:31:00|
|  2|    true|          0|           0|      0|         0|      0.0|       0.0|[30 32 2F 30 31 2...|      [30]|2009-02-01 05:30:00|
|  3|   false|          1|           1|      1|        10|      1.1|      10.1|[30 32 2F 30 31 2...|      [31]|2009-02-01 05:31:00|
|  0|    true|          0|           0|      0|         0|      0.0|       0.0|[30 31 2F 30 31 2...|      [30]|2009-01-01 05:30:00|
|  1|   false|          1|           1|      1|        10|      1.1|      10.1|[30 31 2F 30 31 2...|      [31]|2009-01-01 05:31:00|
+---+--------+-----------+------------+-------+----------+---------+----------+--------------------+----------+-------------------+

In [37]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- bool_col: boolean (nullable = true)
 |-- tinyint_col: integer (nullable = true)
 |-- smallint_col: integer (nullable = true)
 |-- int_col: integer (nullable = true)
 |-- bigint_col: long (nullable = true)
 |-- float_col: float (nullable = true)
 |-- double_col: double (nullable = true)
 |-- date_string_col: binary (nullable = true)
 |-- string_col: binary (nullable = true)
 |-- timestamp_col: timestamp (nullable = true)