In [1]:
import findspark
findspark.init('/home/gani/spark-2.4.4-bin-hadoop2.7')

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DoubleType

In [5]:
spark = SparkSession.builder.appName('simpleSelect').getOrCreate()

In [7]:
schema = StructType([StructField('geo',StringType(),True),
                    StructField('yr1980', DoubleType(),False)])

In [8]:
df = spark.read.csv('populationbycountry19802010millions.csv',inferSchema=True, header=True,schema=schema)

In [9]:
df.show(5)

+-------------+---------+
|          geo|   yr1980|
+-------------+---------+
|North America|320.27638|
|      Bermuda|  0.05473|
|       Canada|  24.5933|
|    Greenland|  0.05021|
|       Mexico| 68.34748|
+-------------+---------+
only showing top 5 rows

In [10]:
df.createOrReplaceTempView('geoData')

In [11]:
query="""select * from geoData where yr1980 < 1 order by 2 limit 5"""

In [12]:
smallCountries = spark.sql(query)

In [14]:
smallCountries.show()

+--------------------+-------+
|                 geo| yr1980|
+--------------------+-------+
|Falkland Islands ...|  0.002|
|                Niue|  0.002|
|Saint Pierre and ...|0.00599|
|        Saint Helena|0.00647|
|Turks and Caicos ...|0.00747|
+--------------------+-------+